<app-header></app-header>
  <main>
    <div id="container" class="container">   
      <div class= "row">
        <div class="col-md-9 pt-3">
          <div class="d-flex bd-highlight">
            <h1 class="p-2 w-100 bd-highlight">Productos</h1>
            <a class="p-2 flex-shrink-1 bd-highlight bi bi-plus-square" role="button" (click)="nuevoProducto()"></a>
          </div>      
          <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Stock</th>
                  <th scope="col">Imagen</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of productos">
                  <th>COD{{ producto.id }}</th>
                  <th>{{ producto.nombre }}</th>
                  <th>{{ producto.descripcion }}</th>
                  <th>{{ producto.categoria }}</th>
                  <th>{{ producto.precio }}€</th>
                  <th>{{ producto.stock }}</th>
                  <img [src]=producto.imagen>
                </tr>
              </tbody>
          </table>
          
          <div class="d-flex justify-content-between p-2">
              <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refrescarProductos()">
              </ngb-pagination>
          
              <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refrescarProductos()">
              <option [ngValue]="7">7 productos</option>
              <option [ngValue]="10">10 productos</option>
              </select>
          </div>
        </div>
        <div class="col-md-3 pt-3">
          <div class="d-flex bd-highlight">
            <h1 class="p-2 w-100 bd-highlight">Categorias</h1>
            <a id="btnNuevaCategoria" class="p-2 flex-shrink-1 bd-highlight bi bi-plus-square" role="button"   (click)="nuevaCategoria()"></a>
          </div>
          <ul>
            <li *ngFor="let c of categorias">
              {{c.nombre}}
            </li>
          </ul>
        </div>
      </div>        
    </div>
  </main>
  <app-footer></app-footer>
