<div class="" >
    <div class="card-body">
      <img [className]="producto.stock<=0 ? 'oscurecer-img img-thumbnail' : 'zoom img-thumbnail'" src={{producto.imagen}} alt={{producto.nombre}}>
      <h5 class="card-title">{{producto.nombre}}</h5>
      <p class="card-text">COD{{producto.codigo}}</p>
      <p class="card-text">{{producto.descripcion}}</p>
      <p class="card-text" style="font-weight: bold;">{{producto.precio}} €</p>
      <p class="card-text">{{producto.stock}} disponibles</p>
      <button class="btn btn-outline-primary" (click)="aniadir()" [disabled]="producto.stock<=0" >Agregar al carrito</button>
    </div>
  </div>
