<h1>Carrito</h1>               
<div class="row border-bottom border-top pt-3 ml-0">
    <div class="col-7 p-0">
        <div class="shopping-cart-header">
            <h6>Producto</h6>
        </div>
    </div>
    <div class="col-3 p-0">
        <div class="shopping-cart-header">
            <h6 class="text-center">Cantidad</h6>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="shopping-cart-header">                                
        </div>
    </div>
</div>
<div id=listaCompra>
    <li *ngFor="let p of productosCarrito" class="row border-bottom pt-3 ml-0 prouducto-carrito">
        <div class="col-3 p-0" >
            <img src={{p.imgProducto}} alt="">
        </div>
        <div class="col-4 p-0">
            <h6 class="m-0">{{p.nombreProducto}}</h6>
            <p class="m-0">{{p.cantidadProducto * p.precioProducto}} €</p>
            <p class="m-0">COD{{p.idPruducto}}</p>
        </div> 
        <div class="col-3 p-0 text-center">
            <p class="m-0">{{p.cantidadProducto}}</p>
        </div>  
        <a class="col-2 bi bi-trash-fill text-right btn-eliminar-carrito" role="button" (click)="eliminarProductoCarrito(p)"></a>    
    </li>
</div>      
<div class="d-flex">
    <div class="p-2 w-100">Total</div>
    <div id="total" class="p-2 flex-shrink-1">{{ getTotal() }}€</div>
</div>
<div>
    <button id="boton-pedido" class="btn btn-success"  data-toggle="modal" data-target="#finalizarModa"  [disabled]="total<=0" (click)="finalizarCompra()">Realizar Pedido</button>                        
</div>
