<div class="modal-header">
    <h4 class="modal-title">Agregar nueva categoría</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  class="needs-validation" [formGroup]="formNuevaCategoria"(ngSubmit)="guardarCategoria()">
      <div class="container">
        <div class="form-group">
          <label for="username">Nombre</label>
          <input type="text" class="form-control" formControlName="nombreCategoria" required/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" [disabled]="!formNuevaCategoria.valid" (click)="guardarCategoria()">Guardar</button>
</div>

