<div class="modal-header">
    <h4 class="modal-title">Agregar nuevo producto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form  class="needs-validation" [formGroup]="formNuevoProducto"(ngSubmit)="guardarProducto()">
      <div class="container">
        <div class="form-group">
          <label for="username">Nombre</label>
          <input type="text" class="form-control" formControlName="nombreProducto" required/>
        </div>
        <div class="form-group">
          <label for="username">Descripción</label>
          <input type="text" class="form-control" formControlName="descripcionProducto" required/>
        </div>
        <div class="form-group">
          <label for="username">Precio</label>
          <input type="number" class="form-control" formControlName="precioProducto" required/>
        </div>
        <div class="form-group">
          <label for="username">Stock</label>
          <input type="number" class="form-control" formControlName="stockProducto" required/>
        </div>
        <div class="form-group">
          <label for="categoriaProducto">Categoria</label>
          <select class="form-control" name="selectAction" formControlName="categoriaProducto"[(ngModel)]="selected">
            <option *ngFor="let c of categorias" [value]="c.nombre">
              {{c.nombre}}
            </option> 
         </select>
        </div>        
        <div class="form-group">
          <label for="username">Imagen</label>
          <input type="file" accept=".jpg, .jpeg, .png" class="form-control" formControlName="imgProducto" required (change)="fileChangeEvent($event)"/>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Cancelar</button>
    <button type="button" class="btn btn-primary" [disabled]="!formNuevoProducto.valid" (click)="guardarProducto()">Guardar</button>
</div>
