<app-header></app-header>
<main>
    <div id="container" class="container">
      <div class="row">
        <div class="col-md-9 pt-3">
            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                <li *ngFor="let c of categorias" [ngbNavItem]="id">
                    <a ngbNavLink (click)="seleccionCategoria(c.nombre)">
                      {{ c.nombre }}         
                    </a>
                </li>
            </ul>
            <div class="tab-content" id="nav-tabContent">
                <div class="row row-cols-1 row-cols-md-3 g-4 p-2">
                  <div class="card col-sm-6 col-md-4 p-0 text-center" *ngFor="let p of productos; let idx=index">
                    <app-item-producto  [producto]="p" (aniadirCarrito)="aniadir(p)"></app-item-producto>
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 pt-3">
          <app-carrito></app-carrito>
        </div>      
      </div>
    </div>
</main>
<app-footer></app-footer>